# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/
functions/node_modules/

# Build output
dist/
build/

# Firebase cache
.firebase/
Firebase.rules

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
firebase-debug.log*
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.temp
*.bak
